
@{
    ViewBag.Title = "Admin Controls";
}

<h2>Main Menu</h2>

<p>


    @Html.ActionLink("Model", "index", "EngineModel")
</p>

<p>


    @Html.ActionLink("Spec", "index", "Spec")
</p>

<p>


    @Html.ActionLink("Category", "index", "Category")
</p>

<p>


    @Html.ActionLink("Description", "index", "Description")
</p>

